
       {
         -webkit-user-select: none
       ;
         -webkit-font-smoothing: antialiased
       ;
         font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace
       }
       .title {
         font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
         font-size: 16px
       }

       .legends .legend text {
         font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
         font-size: 14px
       }

       .axis text {
         font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
         font-size: 10px
       }

       .axis text.major {
         font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
         font-size: 10px
       }

       .text-overlay text.value {
         font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
         font-size: 16px
       }

       .text-overlay text.label {
         font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
         font-size: 10px
       }

       .tooltip {
         font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
         font-size: 14px
       }

       text.no_data {
         font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
         font-size: 64px
       }

       {
         background-color: rgba(249, 249, 249, 1)
       }
       path, line, rect, circle {
         -webkit-transition: 150ms;
         -moz-transition: 150ms;
         transition: 150ms
       }

       .graph .background {
         fill: rgba(249, 249, 249, 1)
       }

       .plot .background {
         fill: rgba(255, 255, 255, 1)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .graph {
         fill: rgba(0, 0, 0, .87)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 text.no_data {
         fill: rgba(0, 0, 0, 1)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .title {
         fill: rgba(0, 0, 0, 1)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .legends .legend text {
         fill: rgba(0, 0, 0, .87)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .legends .legend:hover text {
         fill: rgba(0, 0, 0, 1)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis .line {
         stroke: rgba(0, 0, 0, 1)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis .guide.line {
         stroke: rgba(0, 0, 0, .54)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis .major.line {
         stroke: rgba(0, 0, 0, .87)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis text.major {
         fill: rgba(0, 0, 0, 1)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis.y .guides:hover .guide.line, #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .line-graph .axis.x .guides:hover .guide.line, #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .stackedline-graph .axis.x .guides:hover .guide.line, #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .xy-graph .axis.x .guides:hover .guide.line {
         stroke: rgba(0, 0, 0, 1)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis .guides:hover text {
         fill: rgba(0, 0, 0, 1)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .reactive {
         fill-opacity: .7;
         stroke-opacity: .8
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .ci {
         stroke: rgba(0, 0, 0, .87)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .reactive.active, #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .active .reactive {
         fill-opacity: .8;
         stroke-opacity: .9;
         stroke-width: 4
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .ci .reactive.active {
         stroke-width: 1.5
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .series text {
         fill: rgba(0, 0, 0, 1)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .tooltip rect {
         fill: rgba(255, 255, 255, 1);
         stroke: rgba(0, 0, 0, 1);
         -webkit-transition: opacity 150ms;
         -moz-transition: opacity 150ms;
         transition: opacity 150ms
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .tooltip .label {
         fill: rgba(0, 0, 0, .87)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .tooltip .label {
         fill: rgba(0, 0, 0, .87)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .tooltip .legend {
         font-size: .8em;
         fill: rgba(0, 0, 0, .54)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .tooltip .x_label {
         font-size: .6em;
         fill: rgba(0, 0, 0, 1)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .tooltip .xlink {
         font-size: .5em;
         text-decoration: underline
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .tooltip .value {
         font-size: 1.5em
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .bound {
         font-size: .5em
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .max-value {
         font-size: .75em;
         fill: rgba(0, 0, 0, .54)
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .map-element {
         fill: rgba(255, 255, 255, 1);
         stroke: rgba(0, 0, 0, .54) !important
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .map-element .reactive {
         fill-opacity: inherit;
         stroke-opacity: inherit
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .color-0, #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .color-0 a:visited {
         stroke: #F44336;
         fill: #F44336
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .text-overlay .color-0 text {
         fill: black
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 text.no_data {
         text-anchor: middle
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .guide.line {
         fill: none
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .centered {
         text-anchor: middle
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .title {
         text-anchor: middle
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .legends .legend text {
         fill-opacity: 1
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis.x text {
         text-anchor: middle
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis.x:not(.web) text[transform] {
         text-anchor: start
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis.x:not(.web) text[transform].backwards {
         text-anchor: end
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis.y text {
         text-anchor: end
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis.y text[transform].backwards {
         text-anchor: start
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis.y2 text {
         text-anchor: start
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis.y2 text[transform].backwards {
         text-anchor: end
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis .guide.line {
         stroke-dasharray: 4, 4
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis .major.guide.line {
         stroke-dasharray: 6, 6
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .horizontal .axis.y .guide.line, #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .horizontal .axis.y2 .guide.line, #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .vertical .axis.x .guide.line {
         opacity: 0
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .horizontal .axis.always_show .guide.line, #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .vertical .axis.always_show .guide.line {
         opacity: 1 !important
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis.y .guides:hover .guide.line, #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis.y2 .guides:hover .guide.line, #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis.x .guides:hover .guide.line {
         opacity: 1
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .axis .guides:hover text {
         opacity: 1
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .nofill {
         fill: none
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .subtle-fill {
         fill-opacity: .2
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .dot {
         stroke-width: 1px;
         fill-opacity: 1
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .dot.active {
         stroke-width: 5px
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .dot.negative {
         fill: transparent
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 text, #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 tspan {
         stroke: none !important
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .series text.active {
         opacity: 1
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .tooltip rect {
         fill-opacity: .95;
         stroke-width: .5
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .tooltip text {
         fill-opacity: 1
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .showable {
         visibility: hidden
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .showable.shown {
         visibility: visible
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .gauge-background {
         fill: rgba(229, 229, 229, 1);
         stroke: none
       }

       #chart-627efa6d-bd6c-4a0b-a693-dd3e40ead6d7 .bg-lines {
         stroke: rgba(249, 249, 249, 1);
         stroke-width: 2px
       }




